@{
  ViewData["Title"] = "Details about " + @Model.name;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummyBearKingdom.Models.Gummy

<div class="panel panel-warning">
    <div class="panel-heading">Detail</div>
    <div class="panel-body">
        <h6>Name: @Html.DisplayFor(model => model.name)</h6>
        <h6>Cost: $ @Html.DisplayFor(model => model.cost)</h6>
        <h6>Country of Origin: @Html.DisplayFor(model => model.origin)</h6>
    </div>
</div>

